.product-collection-container{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.product-type{
    width: 25%;
    height:20%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    border: 4px solid orange;
    border-radius: 3px;
    background-color: white;
}
.pro2x001{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 10px;
    gap: 15px;
    
}
.pro2xx1{
    width: 24%;
    height:250px;
    border: 1px solid orange;
}
.pro2xxx1{
    width: 100%;
    height: 100%;
}
.pro2xxx1-img{
    width: 100%;
    height: 80%;
    cursor: pointer;
    padding: 10px;
    transition: linear .2s;
}
.pro2xxx1-img:hover{
    padding: 3px;
}
.pro2xxx1-details{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}
.product-info-name{
    font-size: 18px;
    font-weight: 500;
}
.product-info-price{
    font-size: 16px;
    font-weight: 600;
}