*,*::after,*::before{
    box-sizing: border-box;
}

.feature_container{
    width:100%;
    height:450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    box-sizing: border-box;
    margin: 10px 0px;
    background-color: blue;
}
.best_deal_feature{
    width:100%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /* padding: 10px; */
    border-radius: 10px;
    background-color: deeppink;
}
.best_deal_feature h2{
    width: 100%;
    height:5%;
}
.best_deal_list{
    width: 100%;
    height:85%;
    display: flex;
    flex-wrap: wrap;
}
.best_deal_list img{
    width:45%;
    height:45%;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}
.best_deal_list img:hover{
    /* padding: 5px; */
    /* border:.5px solid rgb(192, 190, 190); */
}
.top_sale_feature{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}
.top_sale_feature h2{
}
.top_sale_list{
    width: 100%;
    height:;
    display: flex;
    flex-wrap: wrap;
}
.top_sale_list img{
    /* border:.5px solid rgb(192, 190, 190); */
    width:31%;
    height:48%;
    margin:1%;
    border-radius: 5px;
    background-size: cover;
    padding: 10px;
}
.top_sale_list img:hover{
    padding:5px;
}
.see_more_btn{
    width: 100%;
    height:10%;
    background-color:grey;
    border-radius: 5px;
}

