*{
    box-sizing: border-box;
}

.vitamin_juice_container{
    width: 100%;
    height: 1020px;
    background-color:transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    position: relative;
}
.vitamin_juice_container h2{
    font-size:30px;
    width: 100%;
    height:5%;
    /* background-color: aqua; */
}
.vitamin_juice_container h2::before{
    content: "";
    width: 30%;
    height: 1.5px;
    position:absolute;
    left:60px;
    top: 35px;
    background-color:var(--lightgrey);
}
.vitamin_juice_container h2::after{
    content: "";
    width: 30%;
    height: 1.5px;
    position:absolute;
    right:60px;
    top: 35px;
    background-color:var(--lightgrey);
}
/*  */
.vitamin_orange{
    width: 100%;
    height: 30%;
    /* background-color: blue; */
    display: flex;
    border: 1px solid rgb(198, 191, 191);
} 
.vitamin_orange:hover{
    box-shadow: 0px 0px 20px orange;
}
.juice_list_orange{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.juice_list_orange img{
    width: 30%;
    height: 100%;
    cursor: pointer;
    padding: 15px;
    transition: linear .1s;
}
.juice_list_orange img:hover{
    padding: 8px;
}
.juice_description{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
}
  /*  */
.vitamin_blackcurrent{
    width: 100%; 
    height:30%;
    /* background-color:yellow; */
    display: flex;
    border: 1px solid rgb(198, 191, 191);
}
.vitamin_blackcurrent:hover{
    box-shadow: 0px 0px 20px rgb(130, 26, 107);
}
.juice_list_current{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.juice_list_current img{
    width: 30%;
    height: 100%;
    transition: linear .1s;
    cursor: pointer;
    padding: 15px;
}
.juice_list_current img:hover{
    padding: 8px;
}
/*  */
.vitamin_gova{
    width: 100%;
    height:30%;
    display: flex;
    border: 1px solid rgb(198, 191, 191);
    /* background-color:aqua; */
}
.vitamin_gova:hover{
    box-shadow: 0px 0px 20px rgb(35, 174, 4);
}
.juice_list_gova{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.juice_list_gova img{
    width: 30%;
    height: 100%;
    transition: linear .1s;
    cursor: pointer;
    padding: 15px;
}
.juice_list_gova img:hover{
    padding: 8px;
}
.juice_description h3{
    font-size: 50px;
}
.juice_descrip{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.juice_descrip_text{
    width: 45%;
    text-align:end;
    margin: 0px 10px;
}
.juice_descrip img{
    width: 35%;
    height: 100%;
    background-color: chartreuse;
    background-size: cover;
    background-position: center;
}
.view_btn{
    width: 100px;
    height: 30px;
    background-color: orange;
    color: white;
    border-radius: 3px;
    margin: 10px 0px;
}
.vitamin_blackcurrent .view_btn{
    background-color: rgb(130, 26, 107);
}
.vitamin_gova .view_btn{
    background-color: rgb(35, 174, 4);
}

/* black */
.juice_description_blackcurrent{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 10px;
}
.juice_description_blackcurrent h3{
    font-size: 50px;
}
.juice_descrip_text:nth-child(2){
    text-align: start;
}
.juice_description_blackcurrent .juice_descrip{
    width:100%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
}
.vitamin_gova:hover{
}
/*  */