:root{
    --lightgrey:rgb(213, 209, 209);
}

.lowest_price_container{
    width: 100%;
    height: 700px;
    margin: 10px 0px;
    text-align: center;
    padding: 10px;
    position: relative;
}
.lowest_price_container h2{
    height:10%;
    font-size: 30px;
}
.lowest_price_container h2::before{
    content: "";
    width: 30%;
    height: 1px;
    position:absolute;
    left:60px;
    top: 35px;
    background-color:var(--lightgrey);
}
.lowest_price_container h2::after{
    content: "";
    width: 30%;
    height: 1px;
    position:absolute;
    right:60px;
    top: 35px;
    background-color:var(--lightgrey);
}
.lowest_price_product{
   width: 100%;
   height: 90%;
   display: flex;
   justify-content:space-between;
   flex-wrap: wrap;
}
.lowest_price_product_item{
    width: 19.5%;
    height: 50%;
    margin: 0px;
    cursor: pointer;
    transition:linear .1s;
}
.lowest_price_product_item img{
    width: 100%;
    height: 80%;
    /* background-size: cover; */
    /* object-fit: contain; */
}
.lowest_price_product_item img:hover{
    border: 1.5px solid green;

}
.lowest_price_list{
    width: 100%;
    height: 20%;
    text-align: center;
}