:root{
    --dark-orange:#FF5F00;
    --dark-navy:#002379;
    --light-orange:#FF9F66;
    --light-white:#FFFAE6;
    --light-grey:#EFECEC;
    --light-pink:#FFB0B0;
}

.shopping_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items:center;
}
.shopping_container h1{
    width: 30%;
    height:10%;
    font-size: 30px;
    color: var(--dark-navy);
    font-weight: 700;
    padding-left: 1%;
    margin-top:90px;
    text-align: center;
    
}
.shopping_list_container{
    width: 60%;
    height: 80%;
    background-color: transparent;
}
.shopping_cart_container{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border:2px solid var(--dark-navy);
    color: var(--light-grey);

}
.shopping_cart_container p{
    color: var(--dark-navy);
}
.new_cart_list{
    width: 100%;
    display: flex;
    height: 200px;
    padding:5px;
    background-color:var(--dark-navy);
    margin: 5px 0px;
}
.check-btn{
    width:3%;
    height: 25px;
    position: relative;
    top: 80px;
    margin-right:15px;
}
.new_cart_list img{
   width:37%;
   height:100%;
   border: none;
   /* border: 5px solid rgb(132, 128, 128); */
}
.cart_item_details{
    width: 60%;
    height:100%;
    padding:10px 15px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
.item_head_list{
    width: 70%;
    height: 50%;
}
.item_head_list h3{
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
}
.item_head_list p{
    font-size: 20px;
    color: var(--dark-orange);
    font-weight: 600;
}
.item_bottom_list{
    width:70%;
    height:50%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: var();
}
.item_bottom_list label{
    font-size: 20px;
    font-weight: 600;
}
.item_bottom_list input{
    width: 40px;
    height: 30px;
    padding: 0px 5px;
    background-color: var(--dark-navy);
}


/* Buy product page */
.buy-product-container{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.buy-product-container h1{
    margin-top: 90px;
    background-color: var(--dark-navy);
    color: var(--light-grey);
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
}
.buyy{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid var(--dark-navy);
}
.proceed_checkout{
    width:100%;
    height:60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy-section{
    width: 100%;
    height:20%;
    color: var(--dark-navy);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.buy-section h1{
    background-color: var(--dark-navy);
    color: var(--light-grey);
    padding: 5px 10px;
    font-size: 25px;
    font-weight: 600;
}
.final-product,.final-amount,.final-address{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.order-btn{
    width: 50%;
    height:10%;
    text-align: center;
    background-color:var(--dark-orange);
    font-size: 20px;
    font-weight: 600;
    color: var(--light-grey);
}

.order-success{
    width: 50%;
    height: 100px;
    position: relative;
    left: 20%;
    top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
}
.order-place-btn{
    padding: 10px 20px;
    background-color:var(--dark-orange) ;
    color: var(--light-grey);
    font-size: 20px;
    font-weight: 600;
    cursor:no-drop;
}
.back-btn-link{
    background-color: rgb(172, 170, 170);
    padding:5px 10px;
}

.proceed_checkout h3{
    font-size: 30px;
    color:var(--dark-navy);
    font-weight: 600;
}
.checkout-item-list{
    width:80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--dark-navy);
    color:var(--dark-navy);
    display: flex;
    flex-direction: column;
}
.c-item{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:space-evenly;
}
.c-item span:nth-child(1){
    text-transform: capitalize;
}
.c-item  div span:nth-child(2){
    margin: 0px 4px;
}
.total-amount{
    width: 20%;
    height: 30px;
    margin-right: 5px;
    /* align-self: flex-end; */
    display: flex;
    padding-left: 5px;
    justify-content:flex-start;
    align-items:center;
    background-color: var(--dark-navy);
}
.total-amount span:nth-child(1){
   font-weight: 700;
   
   color: var(--light-grey);
}
.total-amount span:nth-child(2){
    margin:0px 5px;
    color: var(--light-grey);
}
.total-amount span:nth-child(3){
    color: var(--light-grey);
    font-weight: 700;
}
.checkout-btn{
    background-color:var(--dark-orange);
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 60%;
    height: 10%;
    padding: 10px 20px;
    margin: 15px 0px 5px 0px;
    text-align: center;
}
