.shopping_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}
.shopping_container h1{
    width: 100%;
    height:10%;
    font-size: 30px;
    background-color: transparent;
    padding-left: 1%;
}
.shopping_list_container{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    padding: 0px 1%;
}
.shopping_cart_container{
    width:70%;
    height:auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-right: 1%;
    border: .5px solid grey;
    padding: 10px;

}
.new_cart_list{
    width: 100%;
    display: flex;
    height: 200px;
    padding:5px;
    /* background-color: yellowgreen; */
}
.check-btn{
    width:3%;
    height: 25px;
    position: relative;
    top: 80px;
    margin-right:15px;
}
.new_cart_list img{
   width:37%;
   height:100%;
   border: none;
   /* border: 5px solid rgb(132, 128, 128); */
}
.cart_item_details{
    width: 60%;
    height:100%;
    padding:10px 15px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
.item_head_list{
    width: 70%;
    height: 50%;
}
.item_head_list h3{
    font-size: 25px;
}
.item_head_list p{
    font-size: 20px;
}
.item_bottom_list{
    width:70%;
    height:50%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.item_bottom_list label{
    font-size: 20px;
    font-weight: 600;
}
.item_bottom_list input{
    width: 40px;
    height: 30px;
    padding: 0px 5px;
    background-color: gainsboro;
}
.proceed_checkout{
    width: 29%;
    height: 100%;
    border: .5px solid grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proceed_checkout h3{
    font-size: 30px;
    color: red;
    font-weight: 600;
}
.checkout-item-list{
    width:60%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.c-item{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:space-evenly;
}
c-item span:nth-child(2){
    color: yellow;
}
.total-amount{
    width: 60%;
    height: 30px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.total-amount span:nth-child(1){
   font-weight: 700;
}
.total-amount span:nth-child(2){
    margin:0px 5px;
}
.checkout-btn{
    border-radius: 4px;
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 80%;
    padding: 5px 10px;
    margin: 20px 0px;
}


/* Buy product page */

.buy-section{
    width: 50%;
    height: 300px;
    border: 2px solid rgb(124, 121, 121);
    position: relative;
    left: 20%;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.buy-section h1{
    border: 3px solid green;
    padding: 5px 10px;
    font-size: 25px;
}
.final-product,.final-amount,.final-address{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.order-btn{
    padding: 10px 20px;
    background-color: green;
    font-size: 20px;
    font-weight: 600;
}

.order-success{
    width: 50%;
    height: 100px;
    position: relative;
    left: 20%;
    top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
}
.order-place-btn{
    padding: 10px 20px;
    background-color: green;
    font-size: 20px;
    font-weight: 600;
    cursor:no-drop;
}
.back-btn-link{
    background-color: rgb(172, 170, 170);
    padding:5px 10px;
}

