:root{
    --dark-orange:#FF5F00;
    --dark-navy:#002379;
    --light-white:#FFFAE6;
    --light-grey:#EFECEC;
}

*,*::after,*::before{
    box-sizing: border-box;
}

.feature_container{
    width:100%;
    height:450px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin-top:80px;
}
.best_deal_feature{
    width:49%;
    height:auto;
    background-color: #002379;
    display: flex;
    flex-direction:column;
    align-items:center;
    padding:5px;
    text-align: center;
}
.best_deal_feature h2{
    width: 100%;
    height:10%;
    position: relative;
    top: -8px;
    font-size: 25px;
    /* font-weight: 600; */
    color:var(--light-grey);
}
.best_deal_list{
    width: 100%;
    height:85%;
    display: flex;
    flex-wrap: wrap;
}
.best_deal_img{
    width:48%;
    height:48%;
    margin: 0px 1%;
    /* border:.2px solid var(--light-grey); */
    object-fit: contain;
    cursor: pointer;
   
}
.best_deal_img img{
    width: 100%;
    height: 100%;
    padding: 7px;
    transition: linear .2s;
    
}
.best_deal_img img:hover{
    padding: 0px;
}
.see_more_deal_btn{
    width:30%;
    height:8%;
    background-color:var(--dark-orange);
    color: var(--light-grey);
    font-size: 18px;
    cursor: pointer;
}

.top_sale_feature{
    width:49%;
    height:auto;
    background-color: var(--dark-navy);
    display: flex;
    flex-direction:column;
    align-items:center;
    padding: 10px;
    text-align: center;
}
.top_sale_feature h2{
    width: 100%;
    height:10%;
    position: relative;
    top: -8px;
    font-size: 25px;
    color:var(--light-grey);
}
.top_sale_list{
    width: 100%;
    height:85%;
    display: flex;
    flex-wrap: wrap;
}
.top_sale_img{
    width:48%;
    height:48%;
    margin: 0px 1%;
    object-fit: contain;
    cursor: pointer;
}
.top_sale_img img{
    width: 100%;
    height: 100%;
    padding: 7px;
    transition: linear .2s;
}
.top_sale_img img:hover{
    padding: 0px;
    /* border:.2px solid var(--light-grey); */
}
.see_more_sale_btn{
    width:30%;
    height:8%;
    background-color:var(--dark-orange);
    color:var(--light-grey);
    font-size:18px;
    cursor: pointer;
}


